body {
	margin: 0;
	padding: 0;
  background: #4b4d4e;
	color: white;
	font-family: "Source Sans", helvetica, arial, sans-serif;
  font-size: 16px;
	font-weight: 200;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.main {
  padding: 20px;
}

.nav {
  width: 100%;
  border-bottom: 1px solid white;
}

.nav a {
  align: right;
}

h1 {
  align: left;
  display:inline;
}
